<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TransactionalOutboxWeb.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(TransactionalOutboxWeb.Shared.MainLayout)">
            <p role="alert">Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
